.loader {
  display: inline-block;

  width: 48px;
  height: 48px;

  border: 5px solid var(--c-base);
  border-bottom-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  padding: 20px 0;
}
