.footer {
  background-color: #444b58;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  max-width: 1180px;
  margin: 0 auto;
  padding: 21px 0 16px;
}

.menu {
  display: flex;
  gap: 36px;

  padding-top: 12px;
}
