.card {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
  object-fit: cover;

  width: 380px;
  height: 400px;

  border-radius: 4px;

  &:hover {
    .overlay {
      opacity: 0.51;
    }

    .name,
    .position {
      opacity: 1;
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  opacity: 0;
  background-color: #242424;
  transition: all 0.4s ease;
}

.name,
.position {
  opacity: 0;
  color: white;
  transition: all 0.4s ease-in;
}

.name {
  font-size: 24px;
  font-weight: 700;

  margin-bottom: 8px;
}

.position {
  font-size: 16px;
  font-weight: 600;

  text-transform: capitalize;
}

.description {
  position: absolute;
  top: 50%;
  left: 50%;

  text-align: center;

  transform: translate(-50%, -50%);
}

.shift {
  transform: translateY(100px);
}
