.container {
  max-width: 1180px;
  margin: 0 auto;
}

.top {
  position: relative;

  margin-bottom: 65px;

  background-color: var(--c-bg);
}

.title {
  font-size: 30px;
  line-height: 43px;

  margin-bottom: 55px;
}
