.filter {
  display: flex;
  flex-direction: column;

  height: fit-content;
  padding: 8px 20px 20px;

  background-color: #fff4ee;

  &__title {
    font-size: 24px;
    font-weight: 600;

    margin-bottom: 25px;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }

  &__label {
    font-size: 16px;
    font-weight: 600;

    margin-bottom: 3px;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;

    margin-bottom: 32px;

    border: 1px solid #dbbba9;
    border-radius: 2px;
  }

  &__checkbox {
    position: relative;

    &:nth-child(2n - 1) {
      border-right: 1px solid #dbbba9;
    }

    &:nth-child(n + 3) {
      border-top: 1px solid #dbbba9;
    }

    &-label {
      font-size: 16px;
      font-weight: 600;

      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;
      height: 56px;

      cursor: pointer;
    }
  }

  &__input {
    position: absolute;
    visibility: hidden;

    width: 0;
    height: 0;
  }

  &__input:checked + &__checkbox-label {
    background-color: #dbbba9;
  }
}
