.product {
  display: grid;
  grid-template-columns: 520px 1fr;
  gap: 42px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 48px;
}

.label {
  display: inline-block;

  color: #b2b5bb;

  &.fixed {
    flex-shrink: 0;
    width: 233px;
  }
}

.row {
  display: flex;
  gap: 10px;

  font-size: 16px;
  line-height: 23px;
  font-weight: 600;

  color: var(--c-base);

  & + & {
    margin-top: 24px;
  }

  &--align-center {
    align-items: center;
  }
}

.stars {
  display: inline-flex;
  gap: 4px;
}

.action {
  display: flex;
  flex-direction: column;

  width: 300px;
  margin-top: 48px;
}
