.input {
  font-size: 16px;
  line-height: 22px;

  width: 100%;
  padding: 17px 19px;

  border: none;
  border-radius: 4px;
  background-color: #f6f6f6;

  &::placeholder {
    color: #b2b5bb;
  }
}
