.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 31px;

  min-width: 0;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 11px 20px;

  width: 100%;
}
