.container {
  max-width: 1180px;
  margin: 0 auto;
}

.top {
  position: relative;

  margin-bottom: 65px;

  background-color: #484283;
}

.title {
  font-size: 60px;
  font-weight: 600;
  line-height: 43px;

  margin-top: 200px;

  text-align: center;
  text-transform: uppercase;

  opacity: 0.3;
}
